*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: aquamarine;
    border: 25px solid black;
}
#main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#main1{
    height: 50%;
    width: 40%;
    background-color: white;
    border: 2px solid rgb(4, 4, 87);
    border-radius: 10px;
    color: rgb(4, 4, 87);
    text-align: center;
    font-size: xx-large;
}
.dets{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: blue;
    font-size: x-large;
   
}